.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.1875rem;
}

.card-img-actions {
  position: relative;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  text-align: center;
  font-weight: bolder !important;
  margin-top: -2rem;
}

.card-title {
  margin-top: 10px;
  font-size: 17px;
}

.invoice-color {
  color: red !important;
}

.card-header {
  padding: 0.9375rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

a {
  text-decoration: none !important;
}

.btn-light {
  color: #333;
  background-color: #fafafa;
  border-color: #ddd;
}

.header-elements-inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

@media (min-width: 768px) {
  .wmin-md-400 {
    min-width: 400px !important;
  }
}

.btn-primary {
  color: #fff;
  background-color: #2196f3;
}

.btn-labeled > b {
  position: absolute;
  top: -1px;
  background-color: blue;
  display: block;
  line-height: 1;
  padding: 0.62503rem;
}
.list-control-container {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  height: 100%;
  padding: 5rem;

  /* justify-content: space-evenly; */
  /* align-items: baseline; */
}
#my-employer-image {
  width: 15%;
  height: 15%;
  margin: auto; /* BRINGS THIS IMAGE TO CENTER ! */
}
/*above we set the div dimesnsinons -now we will make the image agree to it  otherwise image will just overflow*/
#my-employer-image img {
  height: 100%;
  width: 100%; /*means 100 % of immidiate div*/
  border-radius: 90%;
  margin-bottom: -3rem;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 9fr);
  font-size: 3rem;
  font-weight: bolder;
  gap: 3rem;
}
body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: xx-large;
  font-weight: 600 !important;
  line-height: 1.5385;
  color: #333;
  text-align: left;
  background-color: #eee;
  background-color: rebeccapurple;
  height: min-content;
}
.btn-xl {
  padding: 1rem;
  font-size: 20px;
  border-radius: 10px;
  width: 120%;
}
.table td,
.table th {
  vertical-align: top;
  margin: -50px;
}
